@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f2b10d;
    --color-secondary: #1c0b35;
    --color-tertiary: #a230bc;
  }
}

body {
  background-color: rgb(209, 213, 219);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

*::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-primary);
}